
@{
    ViewBag.Title = "Create";
}

<h2>Cadastro de Área</h2>
<br />
<div>
    <form action="/Area2/Create" method="post">
        <label>Descrição: </label>
        <input type="text" id="descricao" name="descricao" required />
        <br />
        <br />
        <button class="btn btn-success" type="submit">Salvar</button>
        <a href="/Area2/Index" class="btn btn-primary">Voltar</a>

    </form>


</div>